
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"    rel="stylesheet">
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  rel="stylesheet">

  <title>Log In</title>




</head>
<body>

<form action="/login" method="POST">
<label for="username" >Username:</label>




<input username type="text" name="username"/>
<label for="password" >Password:</label>
<input  type="password" name="password"/>
<input type="submit" value="Log In"/>






  </form>
  </body>
</html>